<div>
    <ul>
        <li><%= message.text %></li>
        <li><strong><%= message.username %></strong></li>
        <li><button onclick="document.location.href='message?id=<%= message.id %>'">Open</button></li>
    </ul>
</div>